<h1>Bienvenido al casino de Tsuneo</h1>
<h2>TurboCasino</h2>


<div id="cuadrao">
	<br>
Tira el dado maric@n

<div id="resultado">


</div>
<br><br>
<div class="boton">
<%= link_to 'lanzar dado', new_round_path %>
</div>

</div>



